@import url("normalize.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("../../node_modules/mapbox-gl/dist/mapbox-gl.css");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
